<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ResourceId>/subscriptions/b77d04c6-cd4c-43ab-b0a5-21b96890a21f/resourceGroups/05-RG-AUDI-Fellestjenester/providers/Microsoft.Web/sites/SmartCycleParking</ResourceId>
    <ResourceGroup>05-RG-AUDI-Fellestjenester</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://smartcycleparking.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>bc027fb0-58ee-42ca-84a4-5cc849c42411</ProjectGuid>
    <PublishUrl>https://smartcycleparking.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SmartCycleParking</UserName>
    <_SavePWD>true</_SavePWD>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>true</SelfContained>
    <EncryptedPassword>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAMQkK/qXf3kebX4Y6gaHxdAAAAAACAAAAAAAQZgAAAAEAACAAAAB7JdTNHNIj/d+yA9jxiEmj6zFK+JZZPVUn7tpQOvwdCAAAAAAOgAAAAAIAACAAAAC3BoZL66eZXJX4thvvsTVPi8Bxvv8vGPIbggxeYnsPdoAAAABJc0Er3zA2qwJX2Qi97g2fqjo9spMvpAjAS7g09uymsPc/GnhlSwrarrVVXiGpjUJEs1KZZuTySpJ0sblb719+AmHGMzJ6XwlfziOhAbDalowfqopx/UUJRoW4srZFW7ODxq7ERkE1/UIQfBFwrt9oMFACPE0BYEx7+D71KGt6/EAAAAB4qYK1oUPM1sSk8sEQRehCSr+RYxlmegMQoBUZDoWhwWTVNl11xoDVYSTFEX3BJJgIv/7EsxA9mjanrAA4An40</EncryptedPassword>
    <EnvironmentSubType>AppServicePublishProfileVisual</EnvironmentSubType>
    <_PublishBasicAuthDisabled>true</_PublishBasicAuthDisabled>
  </PropertyGroup>
</Project>